html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #004D40;
}

#open_button {
    width: 100%;
    height: 100%;
    font-size: 10em;
}

.btn-primary {
  color: #ffffff;
  background-color: #009688;
  border-color: #00796B;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle  {
  color: #ffffff;
  background-color: #00695C;
  border-color: #00796B;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #009688;
  border-color: #00796B;
}

.btn-primary .badge {
  color: #009688;
  background-color: #ffffff;
}
